/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------- BODY ----------------------*/
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/*------------------- HEADER ----------------------*/
header {
  background-color: #424e64;
  color: #bbc2ca;
  width: 100%;
  z-index: 50;
  padding: 1rem 2%;
  position: fixed;
  /*FOR SEARCH BOX
  form{ float:right;}
  form input{
      width: 6rem;
      border-radius:  10px;
      margin-right: 2%;
      padding: .2rem;
      border: none;
      transition: width .5s;
  }
  form input:focus{ width: 9rem;}*/ }
  header #menuIcon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .17rem .18rem;
    margin-top: 1.8rem;
    margin-right: 2%;
    font-size: 1.7rem;
    text-align: center;
    position: absolute;
    transition: background .5s ease;
    border-radius: 10%;
    top: 0;
    right: 0; }
    header #menuIcon div {
      width: 20px;
      height: 4px;
      background-color: #828f9d;
      margin: 3px 0px;
      border-radius: 4px;
      transition: background 0.5s linear 0s; }
  header #menuIcon:hover div {
    background-color: white; }
  header h1 {
    font-size: 1.7rem;
    position: relative;
    top: -10px;
    font-weight: 300; }
  header h2 {
    font-size: 1.5rem;
    font-weight: 300; }

/*------------------ NAVIGATION -----------------*/
.showMenu {
  display: block; }

nav {
  display: none;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  transition: 2s ease-out; }
  nav ul {
    position: absolute;
    background-color: #bbc2ca;
    width: 100%;
    text-align: center; }
  nav ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li a {
    display: block;
    color: #424e64;
    padding: .7rem .4rem;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.75s ease, color 0.75s ease; }
  nav ul li.active a {
    background-color: #566683;
    color: white; }
  nav ul li a:hover {
    color: #bbc2ca;
    background-color: #424e64; }

/*------------------------- MAIN -------------------------*/
main {
  /*-------------------------INDIAN FOODS----------------------*/ }
  main figure.banner {
    width: 100%;
    position: relative;
    margin-bottom: 7.3rem;
    top: 5.2rem;
    z-index: -2; }
  main figure.banner img {
    width: 100%; }
  main h1 {
    font-size: 1.5rem;
    margin: 1rem 0 0 2%;
    color: #424e64; }
  main h2 {
    font-size: 1.3rem;
    margin: 0.75rem 0 0 2%;
    color: #566683; }
  main .content h3 {
    font-size: 1.1rem;
    margin: 5% 0 2% 0;
    text-align: center;
    color: #8c9ab3; }
  main .content p {
    text-align: center;
    line-height: 130%;
    color: #35373a;
    width: 80%;
    margin: .5rem auto 1rem auto; }
  main .grid {
    text-align: center; }
  main #home img {
    width: 75%; }
  main hr.fadeAway {
    background: linear-gradient(to right, #424e64 0%, rgba(41, 137, 216, 0.5) 50%, rgba(32, 124, 202, 0.49) 51%, rgba(66, 78, 100, 0) 100%);
    height: 2px;
    border: none;
    margin: 0 2%; }
  main #menu figure.photo {
    width: 100%;
    position: relative; }
  main #menu figure.photo img {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    transition: .3s ease-out; }
  main #menu figure.photo h3 {
    position: absolute;
    top: 29%;
    left: 29%;
    opacity: .8;
    z-index: 5;
    background-color: #bbc2ca;
    padding: .5rem 1rem;
    border-radius: 12.9px;
    color: #424e64;
    transition: .3s ease-in; }
  main #menu figure.photo:hover img {
    opacity: 0.5; }
  main #menu figure.photo:hover h3 {
    opacity: 1;
    background-color: white; }
  main .indian-foods {
    padding-top: 6rem;
    padding-bottom: 3rem; }
  main .dishes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    font-weight: 300;
    background-color: #9ea8b4;
    padding: 2%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 1rem 0; }
    main .dishes .dish-photo {
      grid-column: span 3;
      float: left;
      text-align: center; }
    main .dishes .dish-photo img {
      margin: .5rem 0;
      width: 100%;
      border: 4px solid white;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }
    main .dishes .dish-info {
      grid-column: span 9;
      margin-left: 2%;
      font-size: .9rem; }
    main .dishes .dish-name {
      text-align: center;
      font-size: 1rem;
      padding: 2% 0; }
    main .dishes .dish-spicy {
      margin: 2%; }
    main .dishes .dish-price {
      position: relative;
      float: right;
      font-weight: 600; }
    main .dishes .dish-detail {
      margin: 2%;
      padding: .5rem 0;
      border-top: 1px solid gainsboro; }
  main #contact #mapBtn {
    border: 2px solid #424e64;
    font-size: 1rem;
    padding: .5rem .2rem;
    width: 60%;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }
  main #contact #mapBtn:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f35d';
    margin: 0 1rem; }
  main #contact #mapBtn a {
    text-decoration: none; }

/*-------------------- FOOTER ------------------------------*/
footer {
  width: 100%;
  background-color: #424e64;
  clear: left;
  margin: .5rem auto; }
  footer p {
    text-align: center;
    color: #bbc2ca;
    padding: .75rem 0;
    font-size: .9rem; }
  footer p a {
    color: #bbc2ca; }

/*---Clearfix: Force an element not to collapse---*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35rem) {
  /*------------------ HEADER -----------------*/
  header {
    overflow: hidden;
    padding: 1.5rem 10px;
    transition: 0.4s; }
    header #menuIcon {
      display: none; }

  .shrinkHeader {
    padding: 1rem 10px; }

  .originalHeader {
    padding: 1.5rem 10px; }

  /*------------------ NAVIGATION -----------------*/
  #nav-bar {
    position: inherit;
    display: block;
    width: 100%;
    z-index: 50; }
    #nav-bar ul {
      background-color: transparent;
      right: 2%;
      top: -3rem;
      width: auto; }
    #nav-bar ul li {
      position: relative;
      display: inline-block;
      border-bottom: none; }
    #nav-bar ul li a {
      color: #828f9d;
      transition: border 0.75s ease; }
    #nav-bar ul li.active a {
      background-color: transparent;
      color: white;
      font-size: 1rem;
      border-top: 0.1px solid white;
      border-bottom: 0.1px solid white; }
    #nav-bar ul li a:hover {
      border-top: 0.1px solid #bbc2ca;
      border-bottom: 0.1px solid #bbc2ca;
      color: beige; }

  /*------------------- MAIN ----------------*/
  main {
    /*PICTURE OF THE PUB*/ }
    main figure.banner {
      margin-bottom: 6rem; }
    main #home .res-pic {
      text-align: right;
      padding: 1rem 0; }
    main #home .res-info {
      padding: 1rem 0; }
    main .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 200px; }
    main .grid .res-pic {
      grid-column: span 3;
      width: 100%; }
    main .grid .res-info {
      grid-auto-rows: 1;
      grid-column: span 9; }
    main #menu {
      width: 100%; }
    main #menu figure.photo {
      float: left;
      width: 33.33%;
      cursor: pointer;
      padding: 0 0.25%;
      margin: .5rem 0; }
    main #menu figure.photo img {
      width: 100%;
      text-align: center; }
    main #menu figure.photo h3 {
      position: absolute;
      top: 29%;
      left: 29%;
      opacity: .8;
      font-size: 1rem;
      z-index: 5;
      background-color: #bbc2ca;
      margin: 0 auto;
      padding: .5rem 1rem;
      border-radius: 12.9px;
      color: #424e64;
      transition: .3s ease-in; }
    main .dishes {
      width: 48%;
      float: left;
      margin: 2% 1%; }
      main .dishes .dish-photo {
        grid-column: span 3;
        float: left;
        text-align: center; }
      main .dishes .dish-spicy {
        position: relative; }
    main .content h3 {
      margin: 2% 0; }
    main #contact #mapBtn {
      width: 35%; }
    main #contact #mapBtn a {
      text-decoration: none; } }
/*end media query*/
@media only screen and (min-width: 60rem) {
  /*------------------- BODY ----------------*/
  /* body{ background-image: url('');}
      div#warpper{
          max-width: 80rem;
          margin: 2rem auto;
          box-shadow:0 0 10px #000000;
          background: white;
      }
  */
  /*body{
      padding: 1rem o;
  }
  */
  /*------------------- NAVIGATION ----------------*/
  nav {
    /*  ul{ 
         margin-left: $gutter;
         border-left: 1px solid rgba(0,0,0,0.3);
     }//end of ul
     ul li{width: auto;}
     ul li:last-child{border-right: 1px solid rgba(0,0,0,0.3);
     }
     ul li a{
         padding: .5rem 1rem;
         
     } */ }

  /*------------------- MAIN ----------------*/
  main {
    /*------------------- ARTICLES ----------------*/ }
    main figure.photo {
      width: 21%;
      margin: 0.5rem 2%;
      float: left; }
    main div.blog article {
      float: left;
      width: 29.33%; }
    main div.blog article:nth-child(2n+1) {
      clear: none; }
    main div.blog article:nth-child(3n+1) {
      clear: left; } }
/*end media query*/
