/*------------------- BODY ----------------*/
//not want a full screen website
//wrap <div id='wrapper'> from <header> to <footer>
/* body{ background-image: url('');}
    div#warpper{
        max-width: 80rem;
        margin: 2rem auto;
        box-shadow:0 0 10px #000000;
        background: white;
    }
*/
//for the very large screen,make it readable
//header, nav, main, footer { max-width:60rem; margin: 0 auto;}
//not want the top and bottom of the page touching the edge
/*body{
    padding: 1rem o;
}
*/



/*------------------- NAVIGATION ----------------*/
nav{
   /*  ul{ 
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }//end of ul
    ul li{width: auto;}
    ul li:last-child{border-right: 1px solid rgba(0,0,0,0.3);
    }
    ul li a{
        padding: .5rem 1rem;
        
    } */
}




/*------------------- MAIN ----------------*/
main{
    figure.photo{ width: 25% - $gutterdbl;
        margin:.5rem $gutter;
        float: left;
    }//end figure's photo
    
    /*------------------- ARTICLES ----------------*/
    div.blog article{
        float: left;
        width: 33.33% - $gutterdbl;
    }
    //remove what we did for medium size
    div.blog article:nth-child(2n+1){        
        clear: none;
    }
    //add 3 collumns 
    div.blog article:nth-child(3n+1){        
        clear: left;
    }


}//end main