/*------------------ HEADER -----------------*/
header{
    #menuIcon{display: none;}
    overflow: hidden;
    padding: 1.5rem 10px;
    transition: 0.4s;
    
}
.shrinkHeader{
    padding: 1rem 10px;
}

.originalHeader{
    padding: 1.5rem 10px;
}

/*------------------ NAVIGATION -----------------*/

#nav-bar{
    position: inherit;   
    display: block;    
    width: 100%;
    z-index: 50;
    
   
    
    ul{        
        background-color: transparent;
        right: $gutter;        
        top:-3rem;
        width: auto;
    }

    ul li{
        position: relative;       
        display: inline-block;
        border-bottom: none;
    }
    
    ul li a{
        color: darken($secondaryColor,20%);
        transition: border 0.75s ease,
    }
    ul li.active a{
        background-color: transparent;
        color:white;
        font-size: 1rem;
        border-top: 0.1px solid white;
        border-bottom: 0.1px solid white;
    }

    ul li a:hover{
        border-top: 0.1px solid $secondaryColor;
        border-bottom: 0.1px solid $secondaryColor;
        color: beige;
    }

}
/*------------------- MAIN ----------------*/
main{
    figure.banner{ 
        margin-bottom: 6rem;
    }

    #home .res-pic {
       text-align: right;
       padding: 1rem 0;
    }
    #home .res-info{
        padding: 1rem 0;
    }

    /*PICTURE OF THE PUB*/
   .grid{
       display: grid;
       grid-template-columns: repeat(12,1fr);
       grid-template-rows: 200px;
   } 
   .grid .res-pic{
       grid-column: span 3;
       width:100%;
   }
   .grid .res-info{
       grid-auto-rows: 1;
       grid-column: span 9;
   }
    #menu{
        width:100%;
    }
    #menu figure.photo{
        float:left;
        width: 33.33%;
        cursor: pointer;
        padding: 0 0.25%;
        margin:.5rem 0;        
    }//end figure's photo

    #menu figure.photo img{ 
        width: 100%;
        text-align: center;
    }
    
    #menu figure.photo h3{
        position: absolute;
        top: 29%;
        left: 29%;
        opacity: .8;
        font-size: 1rem;
        z-index: 5;
        background-color: $secondaryColor;
        margin: 0 auto;
        padding: .5rem 1rem;
        border-radius: 12.9px;    
        color: $primaryColor;
        transition: .3s ease-in; 
    }

    .dishes {
        width: 48%;
        float: left;     
        margin: .5% 1%;
        height: 200px;

        .dish-photo{
            grid-column: span 3;
            float:left;
            text-align: center;
        }

        .dish-spicy{
            position: relative;
        }

    }

    .content h3{
        margin: 2% 0;
       
    }//end h3
    
    #contact #mapBtn{
        width: 35%;    
    }//ends map btn

    #contact #mapBtn a{
        text-decoration: none;
    }
    
    



}//end main