/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%};

/*apply a natural box layout model to all elements*/
*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}

/*------------------- BODY ----------------------*/
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;

}//end of body



/*------------------- HEADER ----------------------*/
header{
    background-color: $primaryColor;
    color: $secondaryColor;
    width: 100%;
    z-index: 50;
    padding: 1rem $gutter;
    position: fixed;
    /*FOR SEARCH BOX
    form{ float:right;}
    form input{
        width: 6rem;
        border-radius:  10px;
        margin-right: 2%;
        padding: .2rem;
        border: none;
        transition: width .5s;
    }
    form input:focus{ width: 9rem;}*/

    #menuIcon{
        width: 1.5rem;
        height: 1.5rem;
        padding: .17rem .18rem;
        margin-top: 1.8rem;
        margin-right: $gutter;
        font-size: 1.7rem;
        text-align: center;
        position: absolute;
        transition: background .5s ease;
        border-radius: 10%;
        top:0;
        right:0;
        //box-shadow: .1em .1em silver;

        div{
            width: 20px;
            height: 4px;
            background-color: darken($secondaryColor,20%);
            margin: 3px 0px;
            border-radius:4px;
            transition: background 0.5s linear 0s;
        }
    }

   

    #menuIcon:hover div{
        background-color:  white;
    }

    h1{
        font-size: 1.7rem;
        position: relative;
        color: whitesmoke;
        top: -10px;
        font-weight: $normalWeight;
        text-shadow: .5px .5px .5px white;
    }//end of h1

    h2{
        font-size: 1.5rem;
        font-weight: $normalWeight;
    }



}//end of header

/*------------------ NAVIGATION -----------------*/
.showMenu{
    display: block;
          
}//end show Menu
nav{       
    display: none;
    position: fixed;
    top: 4rem;
    left:0;
    width: 100%; 
    transition: 2s ease-out;
    ul{
        position: absolute;
        background-color: $secondaryColor;
        width: 100%;
        text-align: center;
        
    }
    ul li{
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }//end of list

    ul li a{
        display: block;
        color:$primaryColor;
        padding: .7rem .4rem;
        text-decoration: none;
        font-weight: $boldWeight;
        transition: background 0.75s ease, color 0.75s ease;
    }

    ul li.active a{
        background-color: lighten($primaryColor,10%);
        color:white;
    }//end of active
    ul li a:hover{
        color: $secondaryColor;
        background-color: $primaryColor;
    }//edn of hover anchor
}

/*------------------------- MAIN -------------------------*/
main{
    figure.banner{ 
        width: 100%;
        position: relative;
        margin-bottom: 7.3rem;
        top: 5.2rem;
        z-index: -2;
     }
    figure.banner img{ width: 100%;}

    h1{
        font-size: 1.5rem;
        margin: 1rem 0 0 $gutter;
        color: $primaryColor;
        
    }//end h1

    h2{
        font-size: 1.3rem;
        margin: .75rem 0 0 $gutter;
        color: lighten($primaryColor,10%);
    }//end h2

    .content h3{
        font-size: 1.1rem;
        margin: 5% 0 2% 0;
        text-align: center;
        color:lighten($primaryColor,30%);
    }//end h3

    .content p{
        text-align: center;
        line-height: 130%;
        color: $fontColor;
        width: 80%;
        margin: .5rem auto 1rem auto; 
    }//end p
    .grid{
        text-align: center;
    }
    #home img{
        width:75%;
    }
    hr.fadeAway{
        background: linear-gradient(to right, rgba(66,78,100,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0.49) 51%,rgba(66,78,100,0) 100%);
        height: 2px;
        border: none;
        margin: 0 $gutter;
    }

    #menu figure.photo{ 
        width: 100%; 
        position: relative;     
    }//keep width 100% for fullscreen photo

    #menu figure.photo img{ 
        width: 100%;
        position: relative;
        margin-bottom: 2rem;
        transition: .3s ease-out;        
    }

    #menu figure.photo h3{
        position: absolute;
        top: 29%;
        left: 29%;
        opacity: .8;
        z-index: 5;
        background-color: $secondaryColor;
        padding: .5rem 1rem;
        border-radius: 12.9px;    
        color: $primaryColor;
        transition: .3s ease-in; 
    }

    #menu figure.photo:hover img{
        opacity: 0.5;
    }
    #menu figure.photo:hover h3{
        opacity: 1;
        background-color: lighten($secondaryColor,50%);
    }
    
    /*-------------------------INDIAN FOODS----------------------*/
    .foods{
        padding-top: 6rem;
        padding-bottom: 3rem;

        h2{
            margin-top: 2rem;
        }
        h3{
            margin: 2%  auto ;
            text-align: center;
        }
    }
    .dishes {
        display:grid;
        grid-template-columns: repeat(12,1fr);  width: 100%;     
        font-weight: $normalWeight;
        
        background-color: darken($secondaryColor,10%);
        padding: 1%;
        box-shadow:  3px 3px 3px rgba(0, 0, 0, .1);
        margin: 1rem 0;

        .dish-photo{
            grid-column: span 3;
            float:left;
            text-align: center;
            z-index: 5;
        }

        .dish-photo img{
            margin: .5rem 0;
            width: 100%;
            position: relative;
            left:0;
            border: 4px solid white;
            transition: .3s ease-out;
            box-shadow:  3px 3px 3px rgba(0, 0, 0, .1);
        }

        .dish-photo:hover img{
            transform: scale(2);            
            left: 30%;
        }

        .dish-info{
            grid-column: span 9;
            margin-left:$gutter;
            font-size: .9rem;
        }
        
        .dish-name{
            text-align: center;
            font-size: 1rem;
            padding: 2% 0;
        }
        .dish-spicy{
            margin: 2% auto 2% 5%;
        }
        .dish-price{
            position: relative;
            float:right;
            font-weight: $boldWeight;
            
        }
        
        .dish-detail{
            margin: 2%;
            padding: .5rem 0;
            border-top: 1px solid gainsboro;
        }
    }//ends indian menu

    #contact #mapBtn{
        border: 2px solid $primaryColor;
        font-size: 1rem;
        padding: .5rem .2rem;
        width: 60%;
        cursor: pointer;
        box-shadow:  3px 3px 3px rgba(0, 0, 0, .1);
    }//ends map btn

    #contact #mapBtn:after{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content:'\f35d';
        margin: 0 1rem;
    }
    #contact #mapBtn a{
        text-decoration: none;
    }

}//end of main



/*-------------------- FOOTER ------------------------------*/
footer{
    width:100%;
    background-color: $primaryColor;
    clear: left;
    margin: .5rem auto;
    p{
        text-align: center;
        color: $secondaryColor;
        padding: .75rem 0;
        font-size: .9rem;
    }//end of paragraph
    
    p a { color: $secondaryColor}

   
}//end of footer





/*---Clearfix: Force an element not to collapse---*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }





