$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;
$accent: #544266;

$defaultFont: 'Source Sans Pro', sans-serif;
$boldWeight: 600;
$normalWeight:300;

//for create not a full screen photo
$gutter: 2%;
$gutterdbl: (2*$gutter)